@use '../helpers' as *;

.checkout-main {
    padding: 24px 0 100px 0;
    gap: 24px;
}

.header {
    &.small-header {
        .header__promo-help {
            font-size: 14px;
            text-decoration: none;
            font-weight: 500;
            line-height: 22px;

             @media (max-width: 576px) {
                display: none;
             }
        }

        .header__promo-contacts-phone {
             @media (max-width: 576px) {
                display: none;
             }
        }

        .header__promo-contacts {
            gap: 16px;
        }

        .header__promo-language-dropdown-header {
            margin-left: 8px;
        }

        .header__promo {
            border-bottom: none;

              @include tablet {
        display: flex;
        }
        }
    }
}
.breadcrumbs__link--span {

    img {
        transform: rotate(180deg);
    }

    a {
        display: flex;
        gap: 8px;
        padding: 16px 0;
        text-decoration: none;
        color: var(--color-dark);
    }
}

.checkout {

    &__title {
        font-size: 48px;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        letter-spacing: 0.24px;
        margin-bottom: 24px;

        @media(max-width: 576px)  {
            font-size: 32px;
        }
    }

    &__description {
        display: flex;
        gap: 16px;
    }

    &__left {
        max-width: 775px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__section {
        padding: 24px;
        border-radius: 20px;
        border: 1.5px solid var(--color-gray-light);

          @media(max-width: 576px) {
            padding: 32px 16px 16px 16px;
          }

        &.is-disabled {
            .checkout__section-content {
                max-height: 0;
                overflow: hidden;
            }

            .checkout__section-inner {
                gap: 0;
            }
        }

        &-title {
            font-size: 20px;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: relative;
        }
    }

    &__right {
        max-width: 549px;
        width: 100%;
        border-radius: 20px;
        border: 1.5px solid #E3E3E3;
        padding: 24px;

         @media(max-width: 992px) {
            max-width: 100%;
            width: 350px;
         }

         @media(max-width: 768px) {
            display: none;
         }

        h2 {
            font-size: 20px;
            font-weight: var(--font-weight-bold);
            line-height: 1.2; 
            letter-spacing: 0.1px;
            padding-bottom: 24px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                font-weight: var(--font-weight-regular);
                color: var(--color-gray-label);
                margin: 0;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-item {
            .checkout__right-link {
                color: var(--color-red);
            text-decoration: underline;
            }
        }
    }

    &__order-summary {
        .modal__content-body {
            display: flex;
            padding: 24px 0;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            border-bottom: 1.5px solid #E3E3E3;

            @media(max-width: 992px) {
                flex-direction: column;
                align-items: flex-start;
            }

            &:last-child {
                border-bottom: none;
            }

            .modal__content-body-image {
                display: flex;
                width: 96px;
                height: 96px;
                padding: 9.6px;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background: var(--color-gray-primary);
            }

            .modal__content-body-content {
                display: flex;
                flex-direction: column;
                gap: 14px;
                flex: 1 0 0;

                h3 {
                    font-size: 20px;
                    margin: 0;
                }

                .modal__content-body-content-option {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    justify-content: space-between;
                }

                .modal__content-body-content-box {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .modal__content-body-content-subsum {
                        color: var(--color-gray-label);
                        text-decoration: line-through;
                    }

                    .modal__content-body-content-sum {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &__edit-btn {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        gap: 16px;
        background: transparent;
        padding: 0;
        border: none;
        color: var(--color-red);
        cursor: pointer;

        @media(max-width: 576px)  {
            top: -28px;
        }

        &.hidden {
            display: none;
        }
    }

    &__summary {
        width: calc(100% + 48px);
        margin-left: -24px;
        padding: 24px;
        border-top: 1.5px solid #E3E3E3;
        border-bottom: 1.5px solid #E3E3E3;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 24px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

             &-sum {
                display: flex;
                align-items: center;
                gap: 8px;

                &-sub {
                    color: var(--color-gray-label);
                    text-decoration: line-through;
                }

                &-text {
                    font-size: 20px;
                }
            }
        }

        &-value {
            color: var(--color-gray-label);
        }

        &-text {
            font-size: 20px;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 16px;
    }

    &__summary-grid {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }

    &__summary-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 150px;
    }

    &__summary {
        &-label {
            color: var(--color-gray-label);
        }

        &-value {
            font-weight: var(--font-weight-regular);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
        }

    }

    input,
    select {
        min-height: 56px;
        padding: 16px;
        border-radius: 16px;
        background: var(--color-gray-primary);
        font-weight: var(--font-weight-regular);
        color: var(--color-gray-label);

        &::placeholder {
            color: var(--color-gray-label);
            font-weight: var(--font-weight-regular);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: var(--color-gray-primary) url('../icons/accardion-arrow.svg') no-repeat 98% center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px 16px;

        &-row {
            display: flex;
            gap: 16px;
        }

        &-group {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .required {
            color: var(--color-red);
        }
    }

    &__btn {
        min-height: 56px;
    }

    .hidden {
        display: none;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.1px;
    }

    #delivery-methods-group {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &.hidden {
            display: none;
        }

        .checkout__form-delivery-select {
            position: relative;
            width: 100%;

            select {
                width: 100%;
                padding-left: 56px;
            }

            &::after {
                content: "";
                background: url(../icons/location.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 16px;
            }
        }
    }

    #section-delivery {
        .checkout__form-row {
            flex-direction: column;
            gap: 24px;
        }
    }

    #section-payment {
        .checkout__payment-options {
            .checkout__radio {
                position: relative;
            }
        }
    }

    &__delivery {

        &-icon {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-name {
            font-size: 20px;
            font-weight: var(--font-weight-bold);
            line-height: 1.2;
            letter-spacing: 0.1px;
        }

        &-price {
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--color-gray-label);

            span {
                color: #005600;
            }
        }

        &-item {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 20px;
            border: 1.5px solid #E3E3E3;

            &.is-selected {
                border-color: var(--color-red);
            }

            &-box {
                display: flex;
                align-items: center;
                gap: 24px;
                align-self: stretch;
                position: relative;
            }
        }
    }

    &__delivery-methods {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__radio {
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    &__payment-item {
        .checkout__payment-options {
            display: none;
        }

        &.is-selected {
            .checkout__payment-options {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }

    &__payment-info {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__payment-item {
        padding: 24px;
        border-radius: 20px;
        border: 1.5px solid #E3E3E3;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &.is-selected {
            border-color: var(--color-red);
        }
    }

    &__payment-options {
        h3 {
            font-size: 16px;
            font-weight: var(--font-weight-medium);
            margin: 0;
        }
    }

    &__payment-option {
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        border-radius: 16px;
        width: 100%;
        border: 1.5px solid #E3E3E3;

        input {
            width: 20px;
            height: 20px;
            min-height: 20px;
            margin: 0;
            padding: 0;
            opacity: 1;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: var(--color-gray-primary);
            border-radius: 50%;
            position: relative;
            flex-shrink: 0;

            &:checked {
                background: var(--color-light);
                border: 1px solid var(--color-red);

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    background: var(--color-red);
                    border-radius: 50%;
                }
            }
        }
    }

    .checkout__payment-option:has(input:checked) {
        border-color: var(--color-red);
    }

    &__payment-name {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__payment-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
        font-size: 20px;
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        letter-spacing: 0.1px;

        span {
            color: var(--color-gray-label);
            font-size: 16px;
            font-weight: var(--font-weight-medium);
            line-height: 24px;
            letter-spacing: 0.08px;
        }
    }

    &__payment-methods {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__comment-checkbox {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        user-select: none;

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            min-height: 20px;
            margin: 0;
            padding: 0;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: var(--color-gray-primary);
            border-radius: 4px;
            border: 1.5px solid var(--color-gray-light);
            position: relative;
            flex-shrink: 0;

            &:checked {
                background: var(--color-red);
                border-color: var(--color-red);

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-image: url(../icons/checked.svg);
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 15px;
                    height: 10px;
                }
            }
        }

        &-text {
            font-size: 16px;
            font-weight: var(--font-weight-medium);
            line-height: 24px;
        }
    }

    &__comment-counter {
        text-align: right;
        color: #aaa;
        font-size: 16px;
    }

    &__textarea {
        min-height: 104px;
        padding: 16px;
        border-radius: 16px;
        background: var(--color-gray-primary);
        border: 1.5px solid var(--color-gray-light);
        font-family: inherit;
        font-size: 16px;
        resize: none;
        width: 100%;

        &::placeholder {
            color: var(--color-gray-label);
        }

        &:focus {
            outline: none;
            border-color: var(--color-red);
        }
    }

    #section-add-comment {
        margin-top: 8px;
        padding: 0;
        border: none;

        .checkout__comment-checkbox {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .checkout__comment-checkbox-text {
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: 1.2; 
                letter-spacing: 0.1px;
            }
        }
    }

    #section-comment {
      padding: 0;
      border: none;
    }
}

.checkout__section-content {
    display: block;
}

.checkout__section-summary {
    display: none;
}

.checkout__section.is-collapsed .checkout__section-content {
    display: none;
}

.checkout__section.is-collapsed .checkout__section-summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.order-main {
    padding: 50px 0 100px 0;
}

.order {

    &__inner {
        max-width: 662px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    &__title {
       display: flex;
       flex-direction: column;
       gap: 16px;

        h1 {
            font-size: 56px;
            font-weight: var(--font-weight-bold);
            line-height: 1.2; 
            letter-spacing: 0.28px;
            margin: 0;
            text-align: center;

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }

        p {
            font-weight: var(--font-weight-regular);
            text-align: center;
        }
    }

    &__info {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        border-radius: 20px;
        border: 1.5px solid #E3E3E3;
        width: 100%;

        h2 {
            font-size: 20px;
        }

        &-list {
            display: flex;
            width: 100%;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 16px;
            }
        }

        &-item {
            flex: 1 1 33.33%;
            border-right: var(--border);
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media (max-width: 768px) {
                flex: 1 1 100%;
                width: 100%;
                padding: 0;
                border: none;
            }

            &:last-child {
                border-right: none;
                padding-right: 0;
            }

            &:nth-of-type(1) {
                padding-left: 0;
            }

            &-text {
                letter-spacing: 0.08px;
                color: var(--color-gray-label);
            }
        }
    }

    &__product {
        display: flex;
        flex-direction: column;

        .modal__content-body {
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        h2 {
            padding: 16px 0;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__link {
        min-height: 56px;
        width: 100%;
    }
}