@use '../helpers' as *;

.hero {
  padding: 16px 0 0 0;

  @include mobile {
    padding: 9px 0 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;

    &-box {
      display: flex;
      column-gap: 16px;
    }
  }

  &__navigation {
    width: 323px;
    flex-shrink: 0;

    @include mobile {
      display: none;
    }
  }

  &__slider {
    width: 100%;
    max-width: calc(100% - 323px - 16px);

    @include mobile {
      max-width: 100%;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__slider-box {
    height: 520px;
    border-radius: 20px;
    background: #65478F;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

     @include mobile {
      border-radius: 16px;
      height: 460px;
      padding: 16px;
     }

    .card-image {
      width: 273px;
      height: 273px;
      flex-shrink: 0;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);

      @include mobile {
        top: 65px;
        width: 196px;
        height: 196px;
      }
    }
  }

  &__slider-title {
    color: var(--color-light);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.16px;

    @include mobile {
      font-size: 24px;
      text-align: left;
    }
  }

  &__slider-link {
    width: 100%;
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 16px;
    background: var(--color-light);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;

    @include mobile {
      width: 100%;
      max-width: 319px;
      margin: 26px auto 0 auto;
      padding: 10px 0;
      font-size: 14px;
      height: auto;
      border-radius: 12px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;

    @include tablet {
      padding-bottom: 8px;
    }

    @include mobile {
      gap: 8px;
    }

    &-item {
      display: flex;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: var(--color-gray-primary);
      color: var(--color-dark);
      letter-spacing: 0.08px;
      flex: 1;

      @include mobile {
        padding: 7px 12px;
        font-size: 14px;
        border-radius: 8px;
      }
    }
  }

  .card-image-smoll-image {
    position: absolute;
    inset: 0;

    &-smoll1 {
      top: -25px;
      left: -12px;
      position: absolute;
    }

    &-smoll2 {
      top: 131px;
      left: -27px;
      position: absolute;
    }

    &-smoll3 {
      top: 171px;
      left: 179px;
      position: absolute;
    }
  }

  .slider-prev, .slider-next {
    
    @include mobile {
      display: none;
    }
  }

  .slider-pagination .swiper-pagination-bullet {
    @include tablet {
      width: 25px;
    }
  }

  .slider-pagination {
    @include mobile {
      position: absolute !important;
      bottom: 75px;

      .swiper-pagination-bullet {
        background: #8C75AB;
        height: 4px;
        width: 25px;
      }
    }
  }
}