@use '../helpers' as *;

.offers {

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        @include mobile {
            gap: 24px;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile {
                flex-direction: column;
                row-gap: 20px;
                align-items: flex-start;
            }
        }

        h2 {

            @include mobile {
            font-size: 20px;
            padding: 6px 0;
            }
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        column-gap: 16px;

        @include mobile {
            gap: 8px;
        }
    }

    &__tab-button {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: var(--color-gray-primary);
        border: none;
        letter-spacing: 0.08px;

        &.active {
            background: var(--color-dark);
            color: var(--color-light);
        }

         @include mobile  {
            padding: 8px 12px;
            font-size: 14px;
            border-radius: 12px;
         }
    }

    &__tab-content {
        display: none;
        position: relative;

        .swiper-button-next {
            top: 262px;
            right: -30px;

            @include mobile {
              display: none;
            }

             @media (max-width: 1024px) {
                right: 0;
            }
        }

        .swiper-button-prev {
            top: 262px;
            left: -30px;

             @include mobile {
              display: none;
            }

            @media (max-width: 1024px) {
                left: 0;
            }
        }


        &.active {
            display: block;
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        .offers__slider-slide {
            width: 323px;
        }

        @include mobile {
            gap: 16px;
        }
    }
}

