@use '../helpers' as *;

.product-detail {
    margin-top: -76px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    @media (max-width: 992px) {
        margin-top: -35px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 16px;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 16px;
        }

        @media (max-width: 768px) {
            gap: 16px;
        }
    }

    &__gallery {
        flex: 1 1 calc(50% - 8px);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
    }

    &__content {
        flex: 1 1 calc(50% - 8px);
    }

    &__header {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 16px;

        @media (max-width: 768px) {
            margin-bottom: 9px;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.16px;

        @media (max-width: 768px) {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    &__liked {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        background: transparent;
        border: none;
        padding: 0;

        @media (max-width: 768px) {
            display: none;
        }

        &.active {
            img {
                content: url(../icons/like-active.svg);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 8px;

        &-current {
            font-size: 24px;
            line-height: 32px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.08px;
            }
        }

        &-old {
            color: var(--color-gray-label);
            line-height: 24px;
            letter-spacing: 0.08px;
            text-decoration-line: line-through;

            @media (max-width: 768px) {
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
            }
        }

        &-badge {
            min-height: 24px;
            padding: 0 12px;
            border-radius: 12px;
            background: var(--color-sale);
            color: var(--color-light);
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.07px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                border-radius: 6px;
                font-size: 12px;
            }
        }
    }

    &__code {
        min-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        border-radius: 12px;
        background: var(--color-gray-primary);
        backdrop-filter: blur(7.5px);
        color: #555;
        line-height: 24px;
        letter-spacing: 0.08px;

        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
            padding: 0 12px;
            min-height: 24px;
            border-radius: 6px;
        }
    }

    &__reviews {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;

        @media (max-width: 768px) {
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-content {
            display: flex;
            align-items: center;
            gap: 8px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-rating {
            display: flex;
            min-height: 40px;
            padding: 4px 0;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .product__reviews-count {
                line-height: 24px;
                letter-spacing: 0.08px;

                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            @media (max-width: 768px) {
                min-height: 24px;
                padding: 4px;
                border-radius: 6px;
                background: var(--color-gray-primary);
            }

            img {
                @media (max-width: 768px) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &-ratings {
            display: flex;
            align-items: flex-start;
            gap: 4px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.08px;

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }
        }

        &-rating-btn {
            background: transparent;
            padding: 0;
            border: none;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.08px;
            text-decoration-line: underline;

            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 18px;
                text-decoration: none;
                font-weight: 500;
            }
        }

        &-btn {
            display: none;

            @media (max-width: 768px) {
                display: flex;
                padding: 8px 12px;
                border-radius: 8px;
                border: 1px solid var(--color-dark);
            }
        }
    }

    &__list {
        display: flex;
        min-height: 96px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 20px;
        box-shadow: 0 0 0 1.5px var(--color-gray-light);
        margin-bottom: 50px;

        @media (max-width: 768px) {
            padding: 0 12px 24px 12px;
            box-shadow: none;
            gap: 8px;
            border-radius: 0;
            border-bottom: 8px solid var(--color-gray-primary);
            width: calc(100% + 24px);
            margin-left: -12px;
            margin-bottom: 24px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0.08px;

        @media (max-width: 768px) {
            flex-direction: row;
            gap: 8px;
            padding: 6px 12px;
            border-radius: 50px;
            border: 1px solid var(--color-gray-light);
            font-size: 12px;
            line-height: 16px;
        }

        &:nth-of-type(2) {
            border-left: var(--border);
            padding: 0 16px;
            border-right: var(--border);

            @media (max-width: 768px)  {
                 padding: 6px 12px;
            }
        }

        img {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-wrap: wrap;
        margin-bottom: 24px;

        .product-detail__liked {
            display: none;

            @media (max-width: 768px) {
                display: flex;
                padding: 10px;
                width: 44px;
                height: 44px;
            }
        }

        @media (max-width: 768px) {
            gap: 8px;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        @media (max-width: 768px) {
            width: 100%;
            display: none;
        }

        &-btn {
            display: flex;
            width: 56px;
            height: 56px;
            min-width: 56px;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border-radius: 16px;
            box-shadow: 0 0 0 1.5px var(--color-dark);
            background: transparent;
            border: none;

            img {
                filter: brightness(0) saturate(100%)
            }
        }

        &-input {
            display: flex;
            height: 56px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 0 0;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.08px;
            margin: 0 3px;

            &::placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.08px;
            }
        }
    }

    &-buy-btn {
        flex: 1 1 calc(100% - 219px);
        min-width: 185px;
        min-height: 56px;

        @media (max-width: 768px) {
            min-height: 44px;
            min-width: 120px;
            flex: 1;
        }
    }

    &-notify-btn {
        min-height: 56px;
        box-shadow: 0 0 0 1.5px var(--color-dark);
        width: 100%;
        border: none;

        @media (max-width: 768px) {
            min-height: 44px;
            min-width: 120px;
            flex: 1;
        }
    }

    &__features {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
    }

    &__feature {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        color: #555;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.08px;

        @media(max-width: 768px) {
            line-height: 18px;
        }

        img {
            width: 24px;
            height: 24px;
            aspect-ratio: 1/1;
        }
    }

    &__specifications {

        @media (max-width: 768px) {
            border-top: 8px solid var(--color-gray-primary);
            width: calc(100% + 24px);
            margin-left: -12px;
            padding: 24px 12px 0 12px;
        }

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 16px;

            @media (max-width: 768px) {
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0.08px;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            @media (max-width: 768px) {
                margin-bottom: 16px;
            }
        }

        &-item {
            display: flex;
            padding: 16px 0;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            align-self: stretch;
            border-bottom: var(--border);

            @media (max-width: 768px) {
                padding: 12px 0;
                gap: 8px;
            }
        }

        &-name {
            color: var(--color-gray-label);
            line-height: 24px;
            flex: 1 1 calc(50% - 8px);
        }

        &-value {
            flex: 1 1 calc(50% - 8px);
            font-weight: 400;


            &-double {
                margin-left: 4px;
                color: #727272;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0.07px;
            }
        }

        &-toggle {
            width: 100%;
            min-height: 55px;

            @media (max-width: 768px) {
                min-height: 44px;
            }
        }
    }

    &__accordion-item {
        display: flex;
        padding: 24px 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: var(--border);

        @media (max-width: 768px) {
            padding: 12px 0;
        }

        &.is-open {
            .product-detail__accordion-header::after {
                transform: rotate(180deg);
            }
        }

        @media (max-width: 768px) {
            &:nth-last-of-type(1) {
                border-bottom: none;
            }
        }
    }

    &__accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;

        @media (max-width: 768px) {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.08px;
        }

        &::after {
            content: "";
            background: url(../icons/accardion-arrow.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            width: 40px;
            height: 40px;
            transition-duration: var(--transition-duration);
        }
    }

    &__accordion-panel {
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.08px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition-duration: var(--transition-duration);

        &.is-open {
            max-height: 500px;
            overflow: auto;
            padding-top: 16px;
            opacity: 1;
        }
    }

    &__description {

        @media (max-width: 768px) {
            padding: 0 16px;
            border-radius: 12px;
            background: var(--color-gray-primary);
        }
    }
}

.gallery__main {
    width: 100%;
    border-radius: 20px;

    &-slide {
        width: 100% !important;
        height: 662px;
        padding: 50px;
        overflow: hidden;
        background: var(--color-gray-primary);

        @media (max-width: 992px) {
            height: 420px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width: 992px) {
                object-fit: contain;
            }
        }

        a {
            outline: none !important;
        }
    }
}

.gallery__thumbnails {
    width: 100%;

    @media (max-width: 992px) {
        display: none;
    }

    .gallery__thumbnail {
        flex: 0 0 calc((100% - 32px) / 3);
        height: 210px;

        @media (max-width: 1200px) {
            flex: 0 0 calc((100% - 16px) / 2);
        }

        &-container {
            padding: 30px;
            border-radius: 20px;
            background: var(--color-gray-primary);
            width: 100%;
            height: 100%;
        }

        img {
            mix-blend-mode: multiply;
            width: 150px;
            height: 150px;
            aspect-ratio: 1/1;

            @media (max-width: 1200px) {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }
    }
}

.product-detail-swiper-prev {
    top: 582px;
    left: 24px;
    transform: none;
    margin-top: 0;
    z-index: 10;

    @media (max-width: 992px) {
        top: 50%;
        transform: translateX(-50%);
        left: 24px;
        width: 44px;
        height: 44px;
    }
}

.product-detail-swiper-next {
    top: 582px;
    left: 86px;
    transform: none;
    margin-top: 0;
    z-index: 10;

    @media (max-width: 992px) {
        top: 50%;
        transform: translateX(-50%);
        left: auto;
        right: -24px;
        width: 44px;
        height: 44px;
    }
}

.product-detail__slider-pagination {
    position: absolute !important;
    top: 630px !important;
    bottom: auto !important;
    padding-right: 24px;
    justify-content: flex-end;
    z-index: 10;
    gap: 8px;

    @media (max-width: 992px) {
        top: 392px !important;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 24px;
        height: 8px;
        border-radius: 50px;
        background: var(--color-light);
        transition-duration: var(--transition-duration);

        @media (max-width: 992px) {
            width: 38.5px;
            height: 4px;
        }
    }

    .swiper-pagination-bullet-active {
        background: var(--color-red);
        width: 56px;

        @media (max-width: 992px) {
            width: 38.5px;
            height: 4px;
        }
    }
}


.product-detail__quantity-btn:disabled {
    background: var(--color-gray-light);
    box-shadow: none;
    cursor: not-allowed;

    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(244deg) brightness(104%) contrast(101%);
    }
}

.product-sidebar {
    position: sticky;
    top: -100px;
    animation-name: scrolling-sidebar;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 500px 150px;
    background: var(--color-light);
    padding: 16px 0;
    border-bottom: 1px solid#E3E3E3;
    border-top: 1px solid#E3E3E3;
    transition-duration: var(--transition-duration);
    
    @media(max-width: 1024px) {
        border-top: 0;
        border-bottom: 0;
        padding: 12px;
        top: auto;
        position: fixed;
        bottom: -150px;
        height: 68px;
        width: 100%;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 1024px) {
            justify-content: center;
        }
    }

    &-info {
        display: flex;
        align-items: center;
        gap: 24px;

        &--image {
            display: flex;
            width: 80px;
            height: 80px;
            padding: 12px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            background: var(--color-gray-primary);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--content {
            display: flex;
            flex-direction: column;
            gap: 9px;
            flex: 1;

            p {
                overflow: hidden;
                color: var(--black-11, #000);
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                align-self: stretch;
                font-size: 20px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0.1px;
                margin: 0;
            }

            .product-card-info {
                display: flex;
                align-items: center;
                gap: 8px;

                .product-card-price {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    flex-direction: row;
                }

                .product-card-sale {
                    margin-top: 0;
                }

                .product-card-value {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                .product-card-subvalue {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px; 
                    letter-spacing: 0.07px;
                }
            }
        }

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        gap: 16px;
            max-width: max-content;
            margin-left: auto;

            @media(max-width: 1024px) {
            margin: 0 auto;
            gap: 8px;
        }

        .product-detail__liked {
            @media(max-width: 1024px) {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    object-position: center;
                }
            }
        }

        .product-detail-buy-btn {
            width: 250px;

            @media(max-width: 1024px) {
                width: 299px;
                height: 44px;
                min-height: 44px;
            }
        }

        .product-detail-notify-btn {
              display: none;
            @media(max-width: 1024px) {
                width: 299px;
                height: 44px;
                min-height: 44px;
            }
        }

        .product-detail__reviews-ratings {
            white-space: nowrap;
        }

        .product-detail__reviews-rating {
            flex-shrink: 0;
        }

        .product-detail__reviews-content {
            flex-shrink: 0;

            @media(max-width: 1024px) {
            display: none;
        }
        }
    }
}

@keyframes scrolling-sidebar {
  from {
    top: -100px;
    opacity: 0;
    visibility: hidden;
    margin-top: -120px;
  }
  to {
    top: 184px;
    opacity: 1;
    visibility: visible;
    z-index: 20;
    margin-top: 0;
  }
}

/* Мобильная версия */
@media (max-width: 1024px) {
  @keyframes scrolling-sidebar {
    from {
      bottom: -100px;
      opacity: 0;
      visibility: hidden;
    }
    to {
      bottom: 64px;
      opacity: 1;
      z-index: 20;
      visibility: visible;
    }
  }
}