@use '../helpers' as *;

.promotions {

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        @include mobile {
            gap: 24px;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-link {
            display: flex;
            min-width: 150px;
            height: 56px;
            padding: 0 16px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            border-radius: 16px;
            box-shadow: 0 0 0 1.5px var(--color-dark);
            background: var(--color-light);
            letter-spacing: 0.08px;

            @include hover {
                background: var(--color-dark);
                color: var(--color-light);
                border-color: var(--color-dark);
            }

            @include mobile {
                padding: 7px 12px;
                font-size: 14px;
                height: auto;
                min-width: 96px;
                border-radius: 8px;
            }
        }
    }


    &-content {
        position: relative;

        .swiper-button-next {
            top: 262px;
            right: -30px;

            @include mobile {
                display: none;
            }

            @media (max-width: 1024px) {
                right: 0;
            }
        }

        .swiper-button-prev {
            top: 262px;
            left: -30px;

            @include mobile {
                display: none;
            }

            
            @media (max-width: 1024px) {
                left: 0;
            }
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        @include mobile {
            gap: 16px;
        }
    }
}